/build
gradle
.gradle
local.properties
openi-client-lib/libs
src/main/java/eu/openiict/client/api
src/main/java/eu/openiict/client/common
src/main/java/eu/openiict/client/model
src/main/java/eu/openiict/client/utils
.idea
.DS_Store
.gitignore